.error {

    color: #FF6060;
    font-size: 36px;
    text-align: center;
   
}

.name {

    font-size: 20vw;
    font-weight: 700;
    padding-top: 90px;
   
}
.error {

    color: #FF6060;
    font-size: 36px;
   
}

.error a{
    display: block;
    padding-top: 182px;
    font-size: 18px;
}