.Deroulant {
	display: flex;
    width: 45%;
    margin-top: 43px;
    color: #FF6060;
    height: 298px;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 10px 25px 25px;
    background-color: #F6F6F6;
    height:fit-content
}

.Propos .Deroulant {
    width: 85%;
}


.title {
	background-color: #FF6060;
    border-radius: 10px;
    color: white;
    align-items: center;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    height: 52px;
    z-index: 2;
}

.content{
    padding-inline: 20px;
    display: flex;
    align-items: center;
    height: 249px;
    
    
    bottom: 10px;
}

.content span{
    height: 190px;
    overflow-y:auto;
    display: flex;
    width: 100%;
}


.content ul{
    margin-block: 0px;
    list-style-type:none;
    padding-left:0px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.roll{
    transform: scale(1, 0.5);
    font-size: 60px;
    cursor: pointer;
}

.Close .content{
	
   display: none;
}

.Close .roll{
    transform: rotate(0.5turn) scale(1, 0.5);
}


@media screen and (max-width: 540px) {
    .Deroulant {

        width: 100%;
        font-size: 13px;
        margin-top: 20px;
    }
    .title {
        height: 29.93px;
        border-radius: 5px;
    }
    .content{
        height: 143.32px;
        
    }
    .content span{
        height: 80px;
        overflow: scroll;
    }
    .roll{
        font-size: 40px;
    }
  }