

.Header {
	display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

nav{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    font-size: 1.5vw;
    
}
a:-webkit-any-link {
    color: #FF6060;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
  
    text-decoration: underline;
}

.logo{
    width: 14.606vw;
    height: 4.722vw;
}

@media screen and (max-width: 540px) {
    nav{

        font-size: 3.2vw;
        text-transform: uppercase;
        width: 40%;
    }
    .logo{

        width: 38.667vw;
        height: 12.533vw;
    }
  }