@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    padding-inline: 7%;
    padding-bottom: 10px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.flexed{
    display: flex;
    justify-content: space-between;
}

.Propos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App{
    min-height: calc(100vh - 209px);
}


@media screen and (max-width: 540px) {
    html {
        padding-inline: 20px;
    }
    .flexed{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
  }